[Unit]
Description=AOSC BuildIt! Server
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=cargo run --bin server
WorkingDirectory=/buildroots/buildit/buildit
Environment=RUST_LOG=info BUILDIT_AMQP_ADDR=REDACTED

[Install]
WantedBy=multi-user.target
