[Unit]
Description=AOSC BuildIt! Worker
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=cargo run --bin worker -- --ciel-path /buildroots/buildit --arch ARCH
WorkingDirectory=/buildroots/buildit/buildit
Environment=RUST_LOG=info BUILDIT_AMQP_ADDR=REDACTED BUILDIT_SSH_KEY=REDACTED

[Install]
WantedBy=multi-user.target
